################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TechTestCheckout/TechTestCheckout/.vs/TechTestCheckout/v16
/TechTestCheckout/TechTestCheckout/obj
/TechTestCheckout/AOP/obj
/TechTestCheckout/AOP/bin/Debug/netcoreapp3.1
