################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TechTestCheckout/TechTestCheckout/.vs/TechTestCheckout/v16
/TechTestCheckout/TechTestCheckout/obj
